<section class="features">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="features__list list-reset">
      <li class="features__item features__item_one">Пушистые и ароматные ёлочки</li>
      <li class="features__item features__item_two">Набор ёлочных украшений в подарок</li>
      <li class="features__item features__item_three">Ёлочки сохранят свежесть надолго</li>
      <li class="features__item features__item_four">Доставим ёлочку за наш счет</li>
    </ul>
  </div>
</section>
