<footer class="footer">
  <div class="container footer__container">

    <svg class="logo footer__logo logo__second" viewbox="0 0 164 76">
      <use xlink:href="#logo" />
    </svg>

    <address class="footer__contacts">
      <a class="footer__item footer__link" href="tel:+79479309294">8 (947) 930 92-94</a>
      <a class="footer__item footer__link" href="mailto:Сhristmas_Trees@gmail.com">Сhristmas_Trees@gmail.com</a>
    </address>

    <ul class="footer__list-social list-reset">
      <li class="footer__item-social">
        <a class="footer__link footer__link-social" href="#">
          <svg class="footer__link footer__link-social">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item-social">
        <a class="footer__link footer__link-social" href="#">
          <svg class="footer__link footer__link-social">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item-social">
        <a class="footer__link footer__link-social" href="#">
          <svg class="footer__link footer__link-social">
            <use xlink:href="img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item-social">
        <a class="footer__link footer__link-social" href="#">
          <svg class="footer__link footer__link-social">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="footer__info-list list-reset">
      <li class="footer__item">ИП Иванов Макар Макарович</li>
      <li class="footer__item">ИНН: 8499348834883838</li>
      <li class="footer__item">ОГРНИП: 434343590998749</li>
    </ul>

    <ul class="footer__rules-list list-reset">
      <li class="footer__item">
        <a class="footer__link" href="#">Политика конфиденциальности</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Договор-оферта</a>
      </li>
    </ul>

    <div class="footer__team">
      <p class="footer__item">code:
        <a class="footer__link" href="http://t.me/Al2003x">@Al2003x</a>
      </p>
      <p class="footer__item">design:
        <a class="footer__link" href="http://t.me/Mrshmallowww">@Mrshmallowww</a>
      </p>
      <p class="footer__item">2023 год</p>
      <p class="footer__item">©Christmas Trees</p>
    </div>

  </div>
</footer>
