<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <img class="hero__img" src="img/photo.jpg" width="705" height="769" alt="красивая ёлка возле камина">
    </div>
    <div class="hero__right">
      <h1 class="hero__title">Встречай Новый Год с&nbsp;прекрасной живой ёлочкой!</h1>
      <p class="hero__description">
        У нас в наличии только самые пушистые и свежие ёлки
      </p>
      <a class="hero__down" href="#one">
        <img class="hero__down-img" src="img/bauble.png" width="113" height="139" alt="">
        <span>Заказать</span>
      </a>
    </div>
  </div>
</section>
