<section class="pay" id="pay">
      <div class="container">
        <h2 class="pay__title">Как можно оплатить</h2>
        <ul class="pay__list list-reset">
          <li class="pay__item">
            <article class="pay__option_pay option-pay">
              <div class="option-pay__picture-wrap">
                <img class="option-pay__picture" src="img/cards.svg" alt="платежные системы">
              </div>
              <h3 class="option-pay__title">Банковской картой</h3>
              <p class="option-pay__description">
                Visa/Mastercard или PayPal из любой страны
              </p>
            </article>
          </li>
          <li class="pay__item">
            <article class="pay__option_pay option-pay">
              <div class="option-pay__picture-wrap">
                <svg class="logo option-pay__picture" width="164" height="76" viewbox="0 0 164 76">
                  <use xlink:href="#logo" />
                </svg>
              </div>
              <h3 class="option-pay__title">Беспроцентная рассрочка от нас</h3>
              <p class="option-pay__description">
                Мы делим платеж на 2 части. Первую часть вы оплачиваете сразу, вторую через 15 дней после получения дерева
              </p>
            </article>
          </li>
          <li class="pay__item">
            <article class="pay__option_pay option-pay">
              <div class="option-pay__picture-wrap">
                <img class="option-pay__picture" src="img/tinkoff.svg" alt="логотип банка Тинькофф">
              </div>
              <h3 class="option-pay__title">Беспроцентная рассрочка от&nbsp;Тинькофф</h3>
              <p class="option-pay__description">
                Рассрочка на 3 месяца без первоначального платежа
              </p>
            </article>
          </li>
        </ul>
      </div>
    </section>
