<section class="product" id="one">
  <div class="container product__container">
    <div class="product__content">
      <h2 class="product__title">Пихта Фразера</h2>
      <p class="product__features">
        Пихта Фразера чаще использовалась в качестве рождественской ёлки Белого дома
      </p>
      <p class="product__description">
        Мягкий аромат, форма, и способность сохранять мягкие иголки в течение длительного времени, делают её одним из
        лучших деревьев для Рождества
      </p>
      <div class="product__button-wrapper">
        <button class="product__button product__button_order" data-order="Пихта Фразера">Заказать</button>
        <a class="product__button product__button_more" href="#">Подробнее</a>
      </div>
    </div>
    <img class="product__picture" src="img/freizer-fir.jpg" width="630" height="590" alt="пихта Фразера">
  </div>
</section>

<section class="product" id="two">
  <div class="container product__container">
    <div class="product__content">
      <h2 class="product__title">Русская ель</h2>
      <p class="product__features">
        Русская ель — наиболее традиционная разновидность рождественских деревьев, которую можно встретить
        в большинстве советских фильмов про новый год
      </p>
      <p class="product__description">
        Отличительной особенностью русской ёлки являются выраженный хвойный запах, короткие колючие иголки и
        сравнительно менее
        пышная крона
      </p>
      <div class="product__button-wrapper">
        <button class="product__button product__button_order" data-order="Русская ель">Заказать</button>
        <a class="product__button product__button_more" href="#">Подробнее</a>
      </div>
    </div>
    <img class="product__picture" src="img/russian-fir.jpg" width="630" height="590" alt="русская ель">
  </div>
</section>

<section class="product" id="three">
  <div class="container product__container">
    <div class="product__content">
      <h2 class="product__title">Сибирская пихта</h2>
      <p class="product__features">
        Пихта сибирская является одной из самых красивых
        и ароматных хвойных пород и ее часто можно встретить в парках и садах
      </p>
      <p class="product__description">
        Хвоя Сибирской пихты в отличии от еловой крупнее, зеленее, совершенно
        не колючая и мягкая как трава
      </p>
      <div class="product__button-wrapper">
        <button class="product__button product__button_order" data-order="Сибирская пихта">Заказать</button>
        <a class="product__button product__button_more" href="#">Подробнее</a>
      </div>
    </div>
    <img class="product__picture" src="img/siberian-fir.jpg" width="630" height="590" alt="сибирская ель">
  </div>
</section>
