// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Cormorant", sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --main-color: #fff;
  --second-color: #262626;
  --one-color: #006e55;
  --two-color: #00654e;
  --three-color: #005844;
  --main-bg-color: #005844;
  --second-bg-color: #c0b487;
  --trigger-color: #e5ab39;
  --input-color: #AFAFAF;
}
